{% import 'appbuilder/general/lib.html' as lib %}

<div id="response-type-wrapper">
    <select class="my_select2" data-placeholder="Select Value" id="responsetypefield" name="responsetypefield" style="width:500px">
        {% for response_type in response_types %}
            <option value="{{response_type}}"{% if response_type == selected_response_type %} selected="selected"{% endif %}>{{response_type}}</option>
        {% endfor %}
    </select>
</div>

<br />

<div class="packet-fields-wrapper select2-container form-control" id="s2id_responsepacketfields" style="display:inline">

    {% for selected_packet_field, selected_response_field in data_mapping %}

        <div id="packet-fields-options">
            <select class="my_select2" data-placeholder="Select Value" id="responsepacketfield" name="responsepacketfields[{{loop.index}}]" style="width:250px">

                <option>----</option>
                {% for packet_field in packet_fields %}
                    <option value="{{packet_field}}"{% if packet_field == selected_packet_field %} selected="selected"{% endif %}>{{packet_field}}</option>
                {% endfor %}

            </select>
            -->
            <select class="my_select2" data-placeholder="Select Value" id="responsefield" name="responsefields[{{loop.index}}]" style="width:250px">
                <option>----</option>
                {% for response_field in response_fields %}
                    <option value="{{response_field}}"{% if response_field == selected_response_field %} selected="selected"{% endif %}>{{response_field}}</option>
                {% endfor %}
            </select>
            
        </div>

    {% endfor %}

</div>

<script>

    $(document).ready(function() { 

        // Form Submit
        $('#model_form').submit(function(event) { 

            var responsepacketfields = $('select[name^="responsepacketfields"]').map(function(){return $(this).val();}).get();
            var responsefields = $('select[name^="responsefields"]').map(function(){return $(this).val();}).get();

            if ( ( responsepacketfields.indexOf('----') == -1 ) && ( responsefields.indexOf('----') == -1 ) ) { 
                // Not the default value selected

                fieldLength = responsepacketfields.length;

                response_data_mapping = [];

                for (var i=0; i < fieldLength; i++) {
                    response_data_mapping.push( [responsepacketfields[i], responsefields[i]] );
                }
         
                // Submit response type
                $('<input />').attr('type', 'hidden')
                    .attr('name', "response_data_type")
                    .attr('value', $('#responsetypefield').val())
                    .appendTo('#model_form');

                // Submit response Data Mappings
                $('<input />').attr('type', 'hidden')
                    .attr('name', "response_data_mapping")
                    .attr('value', JSON.stringify(response_data_mapping, null, 2) )
                    .appendTo('#model_form');
            }

            return true;
        });

    });

</script>

